.DS_Store
Thumbs.db

# Don't send the compiled rclone software to github
rclone-beta/
rclone-v1.39-linux-386/

# Don't send the compiled s3cmd software to github
s3cmd-1.6.1/
s3cmd-2.0.1/

# Don't send anything in the temp directory
temp/

*.pyc

# Don't send potentially large files
*.nc
*.grib2
*.h5

# Don't send the log files
hrrr.cronout
hrrr.status
goes.cronout
goes.status
